drupalexampleweb:
  build: .
  ports:
   - "81:80"
   - "444:443"
  links:
   - drupalexampledb:database
  volumes:
    - ~/develop/projects/drupal-example:/var/www/project
    - ~/.ssh:/home/ubuntu/.ssh
    - ~/.composer:/home/ubuntu/.composer
    - ~/.npm:/home/ubuntu/.npm
    - ~/.npm-packages:/home/ubuntu/.npm-packages
drupalexampledb:
  image: mysql:5.6
  volumes_from:
    - drupal-example-mysql
  environment:
    TERM: dumb
    MYSQL_ROOT_PASSWORD: password
    MYSQL_USER: user
    MYSQL_PASSWORD: password
    MYSQL_DATABASE: drupal_example
